<%- include('header') %>

  <h1 class="inner-titles">My Shifts</h1>
  <button class="back-btn" onclick="window.history.back();">Go Back</button>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody>
      <% shifts.forEach(function(shift) { %>
        <tr>
          <td>
            <%= shift.shift_date %>
          </td>
          <td>
            <%= shift.shift_start %>
          </td>
          <td>
            <%= shift.shift_end %>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <%- include('footer') %>